/* Import Google font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: linear-gradient(-45deg, #06283D, #06283D, #47B5FF, #DFF6FF);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.gen-container {
  width: 450px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}

.gen-container h2 {
  font-weight: 600;
  font-size: 1.31rem;
  padding: 1rem 1.75rem;
  border-bottom: 1px solid #d4dbe5;
}

.gen-wrapper {
  margin: 1.25rem 1.75rem;
}

.gen-wrapper .gen-pwd-input {
  position: relative;
}

.gen-pwd-input input {
  width: 100%;
  height: 53px;
  color: #000;
  background: none;
  font-size: 1.06rem;
  font-weight: 500;
  border-radius: 4px;
  letter-spacing: 1.4px;
  border: 1px solid #aaa;
  padding: 0 2.85rem 0 1rem;
}

.gen-pwd-input span {
  position: absolute;
  right: 13px;
  cursor: pointer;
  line-height: 53px;
  color: #707070;
}

.gen-pwd-input span:hover {
  color: #06283D!important;
}

.gen-wrapper .gen-pwd-indicator {
  width: 100%;
  height: 4px;
  position: relative;
  background: #dfdfdf;
  margin-top: 0.75rem;
  border-radius: 25px;
}

.gen-pwd-indicator::before {
  position: absolute;
  content: "";
  height: 100%;
  width: 50%;
  border-radius: inherit;
  transition: width 0.3s ease;
}

.gen-pwd-indicator#weak::before {
  width: 20%;
  background: #E64A4A;
}

.gen-pwd-indicator#medium::before {
  width: 50%;
  background: #f1c80b;
}

.gen-pwd-indicator#strong::before {
  width: 100%;
  background: #42f468;
}

.gen-wrapper .gen-pwd-length {
  margin: 1.56rem 0 1.25rem;
}

.gen-pwd-length .gen-details {
  display: flex;
  justify-content: space-between;
}

.gen-pwd-length input {
  width: 100%;
  height: 5px;
}

.gen-pwd-settings .settings-options {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  margin-top: 1rem;
}
.gen-pwd-settings .settings-options .settings-option {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  width: calc(100% / 2);
}

.settings-options .settings-option:first-child {
  pointer-events: none;
}

.settings-options .settings-option:first-child input {
  opacity: 0.7;
}

.settings-options .settings-option input {
  height: 16px;
  width: 16px;
  cursor: pointer;
  accent-color: #06283D;
}

.settings-options .settings-option label {
  cursor: pointer;
  color: #4f4f4f;
  padding-left: 0.63rem;
}

.gen-wrapper .gen-btn {
  width: 100%;
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  background: #06283D;
  font-size: 1.06rem;
  padding: 0.94rem 0;
  border-radius: 5px;
  text-transform: uppercase;
  margin: 0.94rem 0 0.94rem;
  transition: all 0.2s ease;
}

.gen-wrapper .gen-btn:hover {
  transform: scale(1.05);
  transition: all 0.2s ease;
}